# Projeto 1 - Ciência dos Dados

Nome: Amanda Carmo

Nome: Vitor Miada

Atenção: Serão permitidos grupos de três pessoas, mas com uma rubrica mais exigente. Grupos deste tamanho precisarão fazer um questionário de avaliação de trabalho em equipe

___
Carregando algumas bibliotecas:

In [5]:
%matplotlib inline
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
import os

In [6]:
print('Esperamos trabalhar no diretório')
print(os.getcwd())

Esperamos trabalhar no diretório
C:\Users\User\Desktop\Insper\2º Semestre\Cdados2\p1_dados

Carregando a base de dados com os tweets classificados como relevantes e não relevantes:

In [7]:
dados = pd.read_excel('mibr.xlsx', sheet_name='Treinamento')
dados.head()

   Classificacao                                        Treinamento
0              2  @smooyacs @mibr tomar no seu cu, tem quanros t...
1              3  mibr ta igual o cruzeiro kkkkkkkkkkkkkkkkkkkkk...
2              3  @maycon_design @mibr f brasileirinho eu sou a ...
3              3  @arthurmelo22_ @mibr @chaosec @envy tem boltz,...
4              2  @mibr @chaosec @envy piada kkkkkkkkkkkkkkkkkkk...

In [8]:
dados_teste = pd.read_excel('mibr.xlsx', sheet_name='Teste')

#renomeando coluna de teste a fim de diferenciar classificação manual e da máquina.
dados_teste.rename(columns={'Unnamed: 1':'Classificação manual'}, inplace=True) 
dados_teste.head()

   Classificação                                              Teste
0              1  cs é um bom exemplo do quanto a experiencia in...
1              2  acho que o time precisa de uma pausa, tentar p...
2              3              mano, o que ta acontecendo com a mibr
3              3  @rafael_loppes1 @mibr @abcfc eu tava acompanha...
4              3  mibr decepcionou hoje :/ pelo menos to feliz p...

___
# Classificador automático de sentimento

Faça aqui uma descrição do seu produto e o que considerou como relevante ou não relevante na classificação dos tweets.

ESCREVER AQUI

### Limpezas dos tweets:

In [9]:
import re 

def cleanup(text):
    #Função para substituir pontos por espaços.
    
    punctuation = '[!\-.:?;•,]' #Pontuações que vão ser excluídas.
    pattern = re.compile(punctuation)
    text_subbed = re.sub(pattern, ' ', text)
    return text_subbed

#### Assinala-se que as classificações são variáveis qualitativas

In [10]:
dados['Classificacao'] = dados['Classificacao'].astype('category')

In [11]:
dados['Classificacao'].cat.categories = ['P', 'I', 'N']

# Visualizando o resultado
dados['Classificacao'].cat.categories

Index(['P', 'I', 'N'], dtype='object')

In [12]:
dados['Classificacao'].head(10)

0    I
1    N
2    N
3    N
4    I
5    I
6    I
7    N
8    N
9    N
Name: Classificacao, dtype: category
Categories (3, object): [P, I, N]

___
## Montando um Classificador Naive-Bayes

Considerando apenas as mensagens da planilha Treinamento, ensine  seu classificador.

### <font color='#005675'>Funções para frequências</font>

Para obter-se a frequência relativa, conforme visto na aula, precisa-se inicialmente do comando `split()` e em seguida tranformar os dados em uma série do pandas, com `pd.Series()`, tal como foi usado a seguir.

Para uma limpeza adicional, foi adicionado às funções `re.sub(r'http\S+', '', tw_completo)`, o qual remove os http que podem intervir na classificação.

#### <font color='#005675'>Frequência Relativa</font>

In [15]:
def Frequencia_Relativa(cat):
    #tira espaços
    tweet = ' '.join(str(cat) for cat in dados[dados.Classificacao==cat].Treinamento)
    
    #Extra: remoção dos "http" para não enviezar o classificador.
    remove_http = re.sub(r'http\S+', '', tweet)
    text_clean = cleanup(remove_http)
    
    #split() e pd.Series()
    serie_dados = text_clean.split()
    freq_rel = pd.Series(serie_dados).value_counts(True)
    
    return freq_rel

In [16]:
Frequencia_Relativa('P').head()

e       0.027061
que     0.025802
a       0.023285
de      0.022026
mibr    0.020768
dtype: float64

In [17]:
Frequencia_Relativa('N').head()

@mibr    0.030651
mibr     0.028948
que      0.025543
o        0.024691
e        0.023414
dtype: float64

In [18]:
Frequencia_Relativa('I').head()

o        0.031155
@mibr    0.028775
a        0.024232
mibr     0.023799
que      0.022068
dtype: float64

#### <font color='#005675'>Frequência Relativa</font>

In [19]:
def Frequencia_Absoluta(cat):
    
    tweet = ' '.join(str(cat) for cat in dados[dados.Classificacao==cat].Treinamento)
    remove_http = re.sub(r'http\S+', '', tweet)
    
    text_clean = cleanup(remove_http)
    serie_dados = text_clean.split()
    freq_abs = pd.Series(serie_dados).value_counts()
    
    return freq_abs

In [20]:
Frequencia_Absoluta('P').head()

e       43
que     41
a       37
de      35
mibr    33
dtype: int64

In [23]:
Frequencia_Absoluta('N').head()

@mibr    72
mibr     68
que      60
o        58
e        55
dtype: int64

In [24]:
Frequencia_Absoluta('I').head()

o        144
@mibr    133
a        112
mibr     110
que      102
dtype: int64

___
### Verificando a performance do Classificador

Agora você deve testar o seu classificador com a base de Testes.

___
### Concluindo

___
## Aperfeiçoamento:

Os trabalhos vão evoluir em conceito dependendo da quantidade de itens avançados:

* Limpar: \n, :, ", ', (, ), etc SEM remover emojis
* Corrigir separação de espaços entre palavras e emojis ou entre emojis e emojis
* Propor outras limpezas e transformações que não afetem a qualidade da informação ou classificação
* Criar categorias intermediárias de relevância baseadas na probabilidade: ex.: muito relevante, relevante, neutro, irrelevante, muito irrelevante (3 categorias: C, mais categorias conta para B)
* Explicar por que não posso usar o próprio classificador para gerar mais amostras de treinamento
* Propor diferentes cenários para Naïve Bayes fora do contexto do projeto
* Sugerir e explicar melhorias reais com indicações concretas de como implementar (indicar como fazer e indicar material de pesquisa)
* Montar um dashboard que periodicamente realiza análise de sentimento e visualiza estes dados

___
## Referências

[Naive Bayes and Text Classification](https://arxiv.org/pdf/1410.5329.pdf)  **Mais completo**

[A practical explanation of a Naive Bayes Classifier](https://monkeylearn.com/blog/practical-explanation-naive-bayes-classifier/) **Mais simples**